<div id="div_ihm_correcao_de_paradas_login" style="margin-left: 250px;">
	<div class="container-fluid">
		<h1 id="h1_correcao_de_paradas_login" class="page-header"></h1>
		<div id="panel_correcao_de_paradas_login" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" id="link_correcao_de_paradas_login" >
				</h4>
			</div>
				<div class="panel-body">
					<form id="form_correcao_de_paradas_login" class="form-signin">
						<div class="input-group" id="div_correcao_de_paradas_login">
							<h3 id="html_h3_correcao_de_paradas_login"></h3>
							<input type="text" id="correcao_de_paradas_login" placeholder=""
								class="form-control" ng-model="login">
													
							<h3 id="html_h3_senha_correcao_de_paradas_login"></h3>
							<input type="password" id="senha" placeholder=""
								class="form-control" ng-model="senha">
						</div>

					</form>
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_correcao_de_paradas_login" ng-click="logar()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_correcao_de_paradas_login" ng-click="voltar()"></button>
				</div>
		</div>
	</div>

</div>