<div id="div_ihm_finaliza_parada" style="margin-left: 250px;">
	<div class="container-fluid">
		<h1 id="h1_finaliza_parada" class="page-header"></h1>
		<div id="panel_finaliza_parada" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" id="link_finaliza_parada">
				</h4>
			</div>
				<div class="panel-body">
					<span id="span_finaliza_parada" style="font-size: xx-large">

					</span> <br> <span style="font-size: xx-large"> {{maq}} {{pt.dsup}}
					</span> <br>
					
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_finalizar_parada" ng-click="finalizaParada()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_finaliza_parada" ng-click="voltar()"></button>
				</div>
					
		</div>
	</div>

</div>
