<div id="div_ihm_reprocesso_menu_main">

	<div class="container-fluid">
		<h1 id="h1_ihm_reprocesso_menu_main" class="page-header"></h1>
		<div id="panel_reprocesso" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" id="link_reprocesso_menu_main"></h4>
			</div>
			<div class="panel-body">
					<button type="button" class="btn btn-primary btn-lg" ng-hide="dto.isNsRefugado == true"
						id="btn_visualizar_ns_ihm_reprocesso_menu_main" ng-click="visualizarNS()"></button>
					<button type="button" class="btn btn-primary btn-lg" ng-hide="dto.isNsRefugado == true"
						id="btn_novo_defeito_ihm_reprocesso_menu_main" ng-click="novoDefeito()"></button>
					<button type="button" class="btn btn-primary btn-lg" ng-hide="dto.isNsRefugado == true"
						id="btn_nova_montagem_ihm_reprocesso_menu_main" ng-click="novaMontagem()"></button>
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_refugo_ihm_reprocesso_menu_main" ng-click="refugo()"></button>
						<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_ihm_reprocesso_menu_main" ng-click="voltar()"></button>
			</div>
		</div>
	</div>
</div>