<div id="div_ihm_reprocesso_produto_refugado">

	<div class="container-fluid">
		<h1 id="h1_ihm_reprocesso_produto_refugado" class="page-header"></h1>
		<div id="panel_reprocesso" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" id="link_reprocesso_produto_refugado"></h4>
			</div>
			<div class="panel-body">
			<h1 id="msg_ihm_reprocesso_produto_refugado"></h1>
			<button type="button" class="btn btn-primary btn-lg"
					id="btn_sim_ihm_reprocesso_produto_refugado" ng-click="sim()"></button>
			<button type="button" class="btn btn-primary btn-lg"
					id="btn_nao_ihm_reprocesso_produto_refugado" ng-click="nao()"></button>
			</div>
		</div>
	</div>
</div>