<div id="div_ihm_reprocesso_serial_conforme">

	<div class="container-fluid">
		<h1 id="h1_ihm_reprocesso_serial_conforme" class="page-header"></h1>
		<div id="panel_reprocesso" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" id="link_reprocesso_serial_conforme"></h4>
			</div>
			<div class="panel-body">
			<h1 id="msg_ihm_reprocesso_serial_conforme"></h1>
			<button type="button" class="btn btn-primary btn-lg"
					id="btn_ihm_reprocesso_serial_conforme" ng-click="novo_defeito()"></button>
			<button type="button" class="btn btn-primary btn-lg"
					id="btn_ok_ihm_reprocesso_serial_conforme" ng-click="ok()"></button>
			</div>
		</div>
	</div>
</div>