<link href="css/style.css" rel="stylesheet">
<div id="div_ihm_apaga_refugo" style="margin-left: 250px;">
	<div id="collapse_apaga_refugo" class="panel-collapse collapse in"  style="text-align: center">
		<div id="span_apaga_refugo" style="font-size: xx-large"></div>
		<div class="panel-body">
			
			<br>
			<br>
			<button type="button" class="btn btn-primary btn-lg"
				id="btn_apaga_refugo" ng-click="apagaRefugo()"></button>

			<button type="button" class="btn btn-primary btn-lg"
				id="btn_voltar_apaga_refugo" ng-click="voltar()"></button>

		</div>
	</div>

	<!-- <div class="container-fluid">
		<h1 id="h1_apaga_refugo" class="page-header"></h1>
		<div id="panel_apaga_refugo" class="panel panel-default">
			<div class="panel-heading" >
				<h4 class="panel-title" id="link_apaga_refugo">
				</h4>
			</div>
			
		</div>
	</div> -->

</div>
