<div id="div_ihm_selecionar_acao_nc_reprocesso">
	<div class="container-fluid">
		<h1 id="h1_selecionar_acao_nc_reprocesso" class="page-header"></h1>
		<div id="panel_selecionar_acao_nc_reprocesso" class="panel panel-default">
			<div class="panel-heading" >
				<h4 class="panel-title" id="link_selecionar_acao_nc_reprocesso">
				</h4>
			</div>
			<div id="collapse_selecionar_acao_nc_reprocesso" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="span_selecionar_acao_nc_reprocesso" style="font-size: xx-large">
						
					</div>
					
					<div class="table-responsive">
					<table class="table table-striped table-hover"
						id="tabela_selecionar_acao_nc_reprocesso">
						<thead id="tabela_selecionar_acao_nc_reprocesso_cabecalho">
						</thead>
						<tbody id="tabela_selecionar_acao_nc_reprocesso_corpo">
							<tr ng-repeat="acao in acoes" ng-click="corrigirNC(acao)">
								<td>{{acao.codigo}}</td>
								<td>{{acao.descricao}}</td>
							</tr>
						</tbody>
					</table>
				</div>
					
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_corrigir_selecionar_acao_nc_reprocesso" ng-click="corrigirNC()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_selecionar_acao_nc_reprocesso" ng-click="voltar()"></button>

				</div>
			</div>
		</div>
	</div>

</div>