<div id="div_ihm_finaliza_op">
	<div class="container-fluid">
		<h1 id="h1_finaliza_op" class="page-header"></h1>
		<div id="panel_finaliza_op" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" id="link_finaliza_op"></a>
				</h4>
			</div>
			<div id="collapse_finaliza_op" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="span_finaliza_op" style="font-size: xx-large">
						
					</div>
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_finaliza_op" ng-click="finalizaOp()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_finaliza_op" ng-click="voltar()"></button>

				</div>
			</div>
		</div>
	</div>

</div>
