<link href="css/style.css" rel="stylesheet">
<div id="div_ihm_finaliza_op" style="margin-left: 250px;">
	<div class="opcoes-consulta">
		<div id="collapse_finaliza_op" style="text-align: center" class="panel-collapse collapse in">
			<div class="panel-body">
				<div id="span_finaliza_op" style="font-size: xx-large"></div>
				<br>
				<button type="button" class="btn btn-primary btn-lg" id="btn_finaliza_op" ng-click="finalizaOp()"></button>
				<button type="button" class="btn btn-primary btn-lg" id="btn_voltar_finaliza_op" ng-click="voltar()"></button>
			</div>
		</div>
	</div>


	<!-- <div class="container-fluid">
		<div id="panel_finaliza_op" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" id="link_finaliza_op"></a>
				</h4>
			</div>
			<div id="collapse_finaliza_op" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="span_finaliza_op" style="font-size: xx-large"></div>
					<br>
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_finaliza_op" ng-click="finalizaOp()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_finaliza_op" ng-click="voltar()"></button>

				</div>
			</div>
		</div>
	</div> -->

</div>
