<link href="css/selecaoMaquinas.css" rel="stylesheet">
<link href="css/navbar.css" rel="stylesheet">

<div id="div_ihm_selecaoMaquinas">

	<!-- <fieldset class="navbarR"> 
		<label class="maq" style="padding-top: 30px;">SELEÇÃO DE MÁQUINA</label>
	</fieldset> -->

	<nav class="navbar navbar-default" 
	style="background-color: #0b4f87;border-color: #0b4f87;border-radius: 0px;margin-bottom: 0px; min-height: 60px;">
        <div class="container-fluid">
            <div class="navbar-header">
				<a class="navbar-brand">
					<img alt="Brand" src="images/icon.png">
				</a>
			</div>

			<div class="collapse navbar-collapse">
				<p class="navbar-text">SELEÇÃO DE MÁQUINA</p>	
				
				<button type="button" class="btn btn-danger navbar-btn navbar-right" style="margin-left: 5px;"
				ng-click="updateGraphic()" title="Atualizar máquinas">
					<span ng-show="loading == true"><i class="glyphicon glyphicon-refresh spinning" style="font-size: 20px;"></i></span>
					<span ng-show="loading == false"><i class="glyphicon glyphicon-refresh" style="font-size: 20px;"></i> </span>
				</button>
			</div>
		</div>
    </nav>

	<div class="cont" style="text-align: center">
		<fieldset ng-if="mq.pt.isoffline == false && mq.pt.isParada == 'true'" class="maquina center" ng-repeat="mq in sessao" ng-init="indexClicado = $index" ng-click="iniciarTela(indexClicado)">
			<i class="glyphicon glyphicon-inbox iconVerme"></i><br>
			<span>Máquina:  {{ mq.pt.dsgt }}</span><br>
			<span ng-if="mq.pt.producao.ordem != '-1'">OP:  {{ mq.pt.producao.ordem }}</span>
			<span ng-if="mq.pt.producao.ordem == '-1'">SEM OP</span>
			<p name="oee" style="margin: 10px 0 0;"><b>OEE</b></p>
			<span class="card-card center" id='oeesl{{$index}}' for="oee"></span>
		</fieldset>
		
		<fieldset ng-if="mq.pt.isoffline == false && mq.pt.isParada == 'false'" class="maquina center" ng-repeat="mq in sessao" ng-init="indexClicado = $index" ng-click="iniciarTela(indexClicado)">
			<i class="glyphicon glyphicon-inbox iconV"></i><br>
			<span>Máquina:  {{ mq.pt.dsgt }}</span><br>
			<span ng-if="mq.pt.producao.ordem != '-1'">OP:  {{ mq.pt.producao.ordem }}</span>
			<span ng-if="mq.pt.producao.ordem == '-1'">SEM OP</span>
			<p name="oee" style="margin: 10px 0 0;"><b>OEE</b></p>
			<span class="card-card center" id='oeesl{{$index}}' for="oee"></span>
		</fieldset>

		<fieldset ng-if="mq.pt.isoffline == true || mq.pt.isParada == '-1'" class="maquina center" ng-repeat="mq in sessao" ng-init="indexClicado = $index" ng-click="iniciarTela(indexClicado)">
			<i class="glyphicon glyphicon-inbox icon"></i><br>
			<span>Máquina:  {{ mq.pt.dsgt }}</span><br>
			<span ng-if="mq.pt.producao.ordem != '-1'">OP:  {{ mq.pt.producao.ordem }}</span>
			<span ng-if="mq.pt.producao.ordem == '-1'">SEM OP</span>
			<p name="oee" style="margin: 10px 0 0;"><b>OEE</b></p>
			<span class="card-card center" id='oeesl{{$index}}' for="oee"></span>
		</fieldset>
	</div>

	<!-- <h1 id="h1_ihm_producao" class="page-header"></h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title" id="link_tabela_producao">
			</h4>
		</div>
		<div id="collapse_tabela_producao" class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover" id="tabela_producao">
					<thead id="tabela_producao_cabecalho">
					</thead>
					<tbody id="tabela_producao_corpo">
						<tr ng-repeat="producao in prods | filter:filtro"
							ng-class="{'danger' : (producao.isParada == 'true') && (!producao.isoffline), 'offline' : producao.isoffline, 'alertaTr' : (producao.listaAlertas.length > 0) }">
							<td>{{producao.pt}}</td>
							<td>{{producao.ordem}}</td>
							<td>{{producao.produto}}</td>
							<td>{{producao.producaoplanejada.split(".")[0]}}</td>
							<td>{{producao.producaorealizada.split(".")[0]}}</td>
							
							<td><button class="btn btn-lg btn-primary" type="button"
										ui-sref="ihmWeb.finalizaop({pt: producao.pt, ordem: producao.ordem})"
										ng-disabled="producao.isoffline">
										{{botaoFinOp}}</button></td>
										<td><button class="btn btn-lg btn-primary" type="button"
										ui-sref="ihmWeb.finalizaop({pt: producao.pt, ordem: producao.ordem})"
										ng-disabled="producao.isoffline">
										{{botaoFinOp}}</button></td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-lg btn-primary" id="btn_iniciar_op" ui-sref="ihmWeb.iniciaop"></button>
				<button class="btn btn-lg btn-primary" id="btn_iniciar_op_injet" ui-sref="ihmWeb.iniciaopinjet"></button>
			</div>
		</div>
	</div> -->
</div>
