<link href="css/suspender_parada.css" rel="stylesheet">
<div id="div_ihm_suspender_paradas" style="margin-left: 250px;">

	<div class="container-fluid">
		<section class="center">
			<fieldset class="card center">
				<div class="card-card center">
					<label for="" class="letras-branco-home">15:08h</label><br>
					<label class="letras-azul-home">INICIO REAL</label>
				</div>
				<div class="card-card center">
					<label for="" class="letras-branco-home">17:12h</label><br>
					<label class="letras-azul-home">FINAL PREVISTO</label>
				</div>
				
				
				<div class="card-card-ul center">
					<label for=""  class="card-card-ul-letras1">1000</label><br>
					<label class="letras-azul-home">PLANEJADO</label>
				</div>
				<div class="card-card-ul center">
					<label for="" class="card-card-ul-letras1">920</label><br>
					<label class="letras-azul-home">REALIZADO</label>
				</div>
				<div class="card-card-ul center">
					<label for=""class="card-card-ul-letras1">80</label><br>
					<label class="letras-azul-home">FALTANTE</label>
				</div>
			</fieldset>
		</section>
	</div>

	<div class="cardS">
		<i class="glyphicon glyphicon-pause ic"></i><br>
		<span class="fa tes fa-anchor solo">PRODUÇÃO SUSPENSA</span>
	</div>

	

</div>