<div id="div_ihm_logout" style="margin-left: 250px;">
	<div class="container-fluid">
		<h1 id="h1_logout" class="page-header"></h1>
		<div id="panel_logout" class="panel panel-default">
			<div class="panel-heading" style="cursor: pointer;"
				onclick="document.getElementById('link_logout').click();">
				<h4 class="panel-title">
					<a data-toggle="collapse" id="link_logout"
						href="#collapse_alertas"></a>
				</h4>
			</div>
			<div id="collapse_logout" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="span_logout" style="font-size: xx-large"></div>
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_logout_operador" ng-click="logoutOperador()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_logout" ng-click="voltar()"></button>

				</div>
			</div>
		</div>
	</div>
</div>