<div id="div_ihm_remove_alerta">
	<div class="container-fluid">
		<h1 id="h1_remove_alerta" class="page-header"></h1>
		<div id="panel_remove_alerta" class="panel panel-default">
			<div class="panel-heading" style="cursor: pointer;"
				onclick="document.getElementById('link_remove_alerta').click();">
				<h4 class="panel-title">
					<a data-toggle="collapse" id="link_remove_alerta"
						href="#collapse_alertas"></a>
				</h4>
			</div>
			<div id="collapse_remove_alerta" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="span_remove_alerta" style="font-size: xx-large">
						
					</div>
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_remove_alerta" ng-click="removeAlerta()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_remove_alerta" ng-click="voltar()"></button>

				</div>
			</div>
		</div>
	</div>

</div>
