<div id="div_ihm_sair">
	<div class="container-fluid">
		<h1 id="h1_sair" class="page-header"></h1>
		<div id="panel_sair" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" id="link_sair"></a>
				</h4>
			</div>
			<div id="collapse_sair" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="span_sair" style="font-size: xx-large" class="cor-texto familia-texto">
						
					</div>
					<button type="button" class="btn btn-primary btn-lg"
						id="btn_sair_2" ng-click="sair()"></button>

					<button type="button" class="btn btn-primary btn-lg"
						id="btn_voltar_sair" ng-click="voltar()"></button>

				</div>
			</div>
		</div>
	</div>

</div>